<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Savant-Lutron-QSX-Bridge</string>
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/python</string>
        <string>/path/to/this/directory/lutron-bridge-server.py</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/path/to/this/directory/bridge.error</string>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>