[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
pylutron_caseta = {git = "https://github.com/mwohlert/pylutron-caseta.git@no_verify_certificate"}

[dev-packages]
pipenv-setup = "*"
chardet = "*"
pyinstaller = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}
pefile = {version = "*", sys_platform = "== 'win32'"}
macholib = {version = "*", sys_platform = "== 'darwin'"}

